# Virtual environment
dockerenv/
.venv/
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Alembic
*.db

# Python build files
build/
dist/
*.egg-info/